h1{
  background-color:#B6FFCE;
  color:red;
  border-left:solid;
  border-width: 10px;
}
p{background-color: #FFE4C0}
h3{background-color: #FBCAFF;
color:#FC28FB}
.tet{  background-color:#E63E6D;
  color:#420516;
  border-left:solid;
  border-width: 10px;
  }
  h3:hover{
    background-color: #49FF00;
  }
